go 1.24.0

use (
	// Shared Packages
	./pkg/config
	./pkg/database
	./pkg/errors
	./pkg/events
	./pkg/logger
	./services/ai-agent-service
	./services/analytics-service
	// Services
	./services/auth-service
	./services/catalog-service
	./services/ddmrp-engine-service
	./services/execution-service
)
