replicaCount: 1

image:
  tag: latest
  pullPolicy: Never

env:
  LOG_LEVEL: "debug"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

autoscaling:
  enabled: false

podDisruptionBudget:
  enabled: false